#baslik{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
#cardTitle{
    font-size:32px;
    text-align:center;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none !important;
}

 #cardImg:hover #baslik
  {
    opacity: 1;
  }
  #cardBody:hover #image
   {
    opacity: 0.3;
  }
  
  
  #image
  {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
#cardAlign{
  margin-top:100px;
}
#textAlign{
  text-align: right;
  color:#cd853f;
  font-size: 18px;
}
#cardColor{
  border-color: gray;
}
.breadcrumb{
  margin-top:400px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.85);
    color: white;
}
#kahvaltiSofrasi{
  margin-top:50px;
  background-image: url("../../images/kahvaltisofrasi.jpg") ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:1500px;
  height:400px;
}
#h{
  margin-top: 30px;
}