#welcome{
   width:1500px;
   position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  filter: brightness(0.4);
  
  
}
/*
#gradient{
   width:1500px;
   height:600px;
   position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: brightness(0.5);
   background-image: url("arkaplann.jpg") ; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;

  
}
*/