.card{
    background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.85);
    color: white;
    margin-top:50px;
}
.kapakDiv{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.6);
  margin-top: 0 auto;
}
#roundedCard{
  margin-left: 12px;
  margin-top: 400px;
  width:120px;
  height:140px;
  
}
#res{
  margin-top: 350px;
  margin-left:50px;
  font-size: 14px;
  
}
#resCol{
padding-left: 50px;
}
h5,p,a{
  font-family: 'Truculenta', sans-serif;
  font-size: 15px;
}
#a{
  font-size:14px;
  margin-top:10px;
}
#imgRestaurant{
  width:32px;
  height:32px;
  display: block;
  margin:auto;
}
@media screen and (max-width:900px) {

  #roundedCard{
    width:120px;
    height:130px;
    margin-top: 20px;
    margin-left:30px;
  }
  #a{
    font-size:12px;
    
  }
  #imgRestaurant{
    width:30px;
    height:30px;
    margin-top:0px;
    display: block;
    margin:auto;
  }
 
  #titleText{
    font-size: 14px;
  }
  #res{
   margin-top:10px;
    margin-right: 40px;
  }
  }

