#about{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
}
#aboutRow{
    background-color: white;
}

#us{
    margin-top: 500px;
    margin-left: 80px;
}
#bgDark{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.85);
    color: white;
}
#paragraf{
    margin-top:30px;
    margin-left: 50px;  
}
#align{
    margin-left: 50px;
}
@media screen and (max-width:900px) {
#us{
    font-size:24px;
    margin-top:120px;
}
}