#about{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
}
#aboutRow{
    background-color: white;
}
.aboutText{
    font-size: 24px;
}
#us{
    margin-top: 600px;
    margin-left: 80px;
}
#bgDark{
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}
#paragraf{
    margin-top:30px;
    margin-left: 50px;  
    font-size: 20px;
}
#align{
    margin-left: 50px;
    font-size: 20px;
}
@media screen and (max-width:900px) {
#us{
    font-size:24px;
    margin-top:120px;
}
}