#footerContainer{
    margin-top: 50px;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
}
#footerTitle{
    font-size: 24px;
    color:brown;

}
#footerImg{
    width:230px;
    height:230px;
}
#icon{
    width:36px;
    height:36px;
    margin-left: 10px;
}

#icon2{
    width:44px;
    height:44px;
    margin-left: 10px;
}

.form-label{
    text-align: left;
}

ul .a{
    list-style-type: none;
}
@media screen and (max-width:900px) {
    #footerTitle{
      font-size: 24px;
      color:brown;
    }
    #footerImg{
        width:128px;
        height:128px;
    }
    #footer{
        font-size:16px;
    }
.footerLi{
    font-size:16px;
}
#b{
    font-size:16px;
}
   
  }

  .footerLi{
    font-family: 'Truculenta', sans-serif;
    font-size:14px;
    list-style-type: none !important;
    margin-right: 45px;
  }
  #footer{
    font-family: 'Truculenta', sans-serif;
    font-size:14px;
    margin-bottom: 20px;
  }
  #b{
    font-family: 'Truculenta', sans-serif;
    font-size:14px;
  }
  #message,#exampleFormControlInput1{
    font-family: 'Truculenta', sans-serif;
    font-size:14px;
  }