#mail{
    width:1500px;
   position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: brightness(0.4);
}
#iletisim{
    color:gray;
    margin-top:350px;
    margin-left: 600px;
}
#ulColor{
    color:black;
}
#contactCard{
    margin-top:200px;
}
#contactButton{
  display: block;
  margin: auto;
}